*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
}

.container{
    width:100vw;
    height: 100vh;
    background-color: wheat;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 3rem;
    
}

.card {
    border:1px solid grey;
    background-image: url(./classic-utility-jacket.82031370.jpg);
    width:12rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 200px;
    margin: 10px;
    border:none;
    animation-name: element;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 3;


}
@keyframes element{
    from{ background-image: url(./classic-utility-jacket.82031370.jpg);}
    to{background-image: url(./leaf.png);}
}




.upper p{
    padding-top: 1rem;
    padding-left: 0.5rem;
    border:1px solid gray;
    width:3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
    border: none;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.lower{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
}

.para1{
    
    
}
